{% load i18n %}
{% if link_page %}
    <a href="{{ link_page.url }}"
       class="wtr-btn
              {% if style == 'secondary' %}wtr-btn-secondary hover:bg-secondary-700
              {% elif style == 'outline' %}wtr-btn-outline hover:bg-primary-50
              {% else %}hover:bg-primary-500{% endif %}">
        {{ text }}
    </a>
{% elif link_url %}
    <a href="{{ link_url }}"
       rel="noopener noreferrer"
       class="wtr-btn
              {% if style == 'secondary' %}wtr-btn-secondary hover:bg-secondary-700
              {% elif style == 'outline' %}wtr-btn-outline hover:bg-primary-50
              {% else %}hover:bg-primary-500{% endif %}">
        {{ text }}
    </a>
{% endif %}
